<div class="container">
  <div class="row">
    <%= simple_form_for [restaurant, review] do |f| %>
      <% if @review.errors.any? %>
        <div class="errors-container">
          Please observe errors below:
        </div>
      <% end %>
      <div class="form-group">
        <%= f.input :content %>
      </div>
      <div class=i"form-group">
        <%= f.input :rating %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
      <div class="form-group">
        <small>
          <% unless @restaurant.new_record? %>
            <%= link_to "Show", restaurant_path(@restaurant) %> |
          <% end %>
          <%= link_to "Back", restaurants_path %>
        </small>
      </div>
    <% end %>
  </div>
</div>
